# Ignore virtual environments
venv/
.network-packet-sniffer/

# Byte-compiled / cached
__pycache__/
*.py[cod]
*.so
*.pyd
*.dll

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log
logs/
*.log.*

# Ignore PCAP files
*.pcap
*.pcapng
src/captures/
src/captured_packets.pcap
